// general styles

.grid {
  display: grid;
}

.grid-template-area {
  grid-template-areas:
    "sidenav header header"
    "sidenav main sidebar"
    "sidenav footer footer";
}

.header {
  grid-area: header;
  background-color: #fdf1eb;
  padding: 0 2.68rem;
}

.main {
  grid-area: main;
  padding: 2.68rem;
}

.main {
  display: flex;
  align-items: center;
}

.sidenav {
  grid-area: sidenav;
  grid-row: 1/-1;
}

.sidebar {
  grid-area: sidebar;
}

.footer {
  grid-area: footer;
  margin-left: 1.25rem;
  grid-row: 3/-1;
}

// sidenav

.sidenav {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
}

.sidenav__logo {
  background: linear-gradient(
    rgba(255, 179, 84, 1) 0%,
    rgba(238, 122, 58, 1) 100%
  );
}

.sidenav__title {
  color: #ffffff;
  padding: 1.37rem;
  text-align: center;
}

.nav__item {
  padding: 0.875rem 1.5rem;
  border-bottom: 2px solid #e7e7e7;
  position: relative;
}

.nav__item a {
  color: #725c5c;
}

.active {
  background-color: #fdf1eb;
}

.active a {
  color: #725c5c;
}

.active:before {
  content: "";
  display: inline-block;
  position: relative;
  left: 0px;
  top: 0;
  width: 5px;
  height: 100%;
  background: linear-gradient(
    rgba(255, 180, 85, 1) 0%,
    rgba(237, 120, 57, 1) 100%
  );
  position: absolute;
}
